name: Run tests and upload coverage

on: 
  push

jobs:
  test:
    name: Run tests and collect coverage
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: pip install pytest pytest-cov

      - name: Install project requirements
        run: pip install -r $env:GITHUB_WORKSPACE\tests\requirements.txt
        
      - name: Cache pip packages
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'
          cache-dependency-path: '**/requirements.txt'
      - run: pip install -r subdirectory/requirements.txt
        
      - name: Run tests
        run: pytest --debug=trace

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
